
#Red:hover{
  fill: #e7684b;
}

#Yellow:hover{
  fill:#f8d03c;
}

#Blue:hover{
  fill:#2fa9dd;;
}

#Green:hover{
  fill:#00a651;;
}
#Purple:hover{
  fill:#662d91;;
}

#svgDiv{
  
  align-content: center
}